{% extends 'base.html' %}

{% block body %}


<form action="/login" id="login-form" method="post">
    <h3 align="center">Login</h3>
    <label for="email">Email Address</label>
    <input type="email" id="email" name="email" placeholder="Enter Your Email">
    <label for="password">Password</label>
    <div class="password-wrapper login-password">
        <input type="password" id="login-password" name="password" placeholder="Enter Password">
        <span class="toggle-password" onclick="togglePassword('login-password', this)">👁️</span>
    </div>
    <button type="submit" id="button">Login</button>
</form>

{% endblock %}
